<%= error_messages_for(f.object) %>

<div class="row">
<div class="input-field col s12">
    <%=f.label("Admin Username")%>
    <%=f.text_field(:username)%>
</div>
</div>

<div class="row">
<div class="input-field col s12">
    
   <%=f.label("Admin Password")%>
    <%=f.text_field(:password)%>



</div>




