<% @page_title="Admin Details" %>



<div class="form-card"> <!-- margin top 5% -->
<div class="row">

<%= render(:partial=>'layouts/admin_navigation') %>

<div class="col s12 m9 l9">
<!-- Teal page content  -->
<div class="card">
	<div class="card-content">

	<h5>Admin Details </h5>
		
			<label>Admin Name: </label>
			<p><%= @admin.username %></p>

			<label>Created At:</label>
			<p> <%= @admin.created_at %></p>

			<label>Updated At: </label>
			<p><%= @admin.updated_at %></p>

			

			<div class="center">

		


		<%= link_to("Delete", delete_admin_path(@admin.id),:class=>"waves-effect waves-light btn red darken-4") %>
		
		<%= link_to("Edit", edit_admin_path(@admin.id),:class=>"waves-effect waves-light btn grey darken-4") %>

		</div>
		
	</div>
	
</div>
</div>

</div>

</div>










