<% @page_title="User Details" %>



<div class="form-card"> <!-- margin top 5% -->
<div class="row">

<%= render(:partial=>'layouts/admin_navigation') %>

<div class="col s12 m9 l9">
<!-- Teal page content  -->
<div class="card">
	<div class="card-content">

	<h5>User Details </h5>

	<label>Username</label>
	<p><%= @manage_user.username %></p>

	<label>Email</label>
	<p><%= @manage_user.email %></p>

	<label>Address</label>
	<p><%= @manage_user.address %></p>

	<label>Status</label>
		
			
			
			

			
			
			
			
			<% if @manage_user.status==1%>

			<p><%= "Active" %></p>

			<% else %>

			<p><%= "Deactive" %></p>
				
			<% end %>


			


		


	

	<div class="center">

		
		
		<%= link_to("Edit", edit_manage_user_path(@manage_user.id),:class=>"waves-effect waves-light btn teal lighten-2") %>
		
	</div>

	</div>
	
</div>
</div>

</div>

</div>










