<% @page_title="Languages List" %>

<%= render(:partial=>'layouts/admin_navigation') %>


<div class="col s12 m9 l9">
<!-- Teal page content  -->
<div class="card">
<div class="card-content">
<h5>Languages List </h5>
<p><%=link_to("Add Language",new_language_path) %></p>



	<table class="responsive-table">
		<thead>
			<tr>
			<td>Language</td>
			
			<td>Action</td>
			
			</tr>
		</thead>

		<tbody>
	
		<% @languages.each do |languages| %>
			<tr>
			<td><%= languages.language %></td>
			
			<td><%= link_to("Edit", edit_language_path(languages.id)) %></td>
			<td><%= link_to("Delete", delete_language_path(languages.id)) %></td>
			
	
			
			
			</tr>


		<% end %>


		</tbody>

	</table>


		


	</div>

	
	
</div>
</div>

</div>

</div>













