<%= error_messages_for(f.object) %>

<div class="row">
<div class="input-field col s12">
    <%=f.label("Title")%>
    <%=f.text_field(:title)%>
</div>
</div>



<div class="row">
<div class="input-field col s12">
    <%=f.label("Details")%>
    <%=f.text_area(:details,:area=>'40x10',:class=>"materialize-textarea")%>
</div>
</div>





