<%@page_title="Delete State" %>



<%= render(:partial=>'layouts/admin_navigation') %>


<div class="col s12 m9 l9">
<!-- Teal page content  -->
<div class="card">
<div class="card-content">


	<%=form_for(@state, :method => 'delete') do |f| %>
	<h4>Delete <%=f.object.state %> </h4>

	<p>Are you sure you want to permanently delete this state?</p>

	
	

	<div class="center">

		
		<%= f.submit("Delete State",:class=>"waves-effect waves-light btn red darken-4") %>
		<%=link_to("Back",states_path,:class=>'bwaves-effect waves-light btn teal lighten-2')%>
	</div>




	<% end %>

		


	</div>

	
	
</div>
</div>

</div>

</div>


















	