<% @page_title="States List" %>

<%= render(:partial=>'layouts/admin_navigation') %>


<div class="col s12 m9 l9">
<!-- Teal page content  -->
<div class="card">
<div class="card-content">
<h5>States List </h5>
<p><%=link_to("Add State",new_state_path) %></p>



	<table class="responsive-table">
		<thead>
			<tr>
			<td>State</td>
			
			<td>Action</td>
			
			</tr>
		</thead>

		<tbody>
	
		<% @states.each do |states| %>
			<tr>
			<td><%= states.state %></td>
			
			<td><%= link_to("Edit", edit_state_path(states.id)) %></td>
			<td><%= link_to("Delete", delete_state_path(states.id)) %></td>
			
	
			
			
			</tr>


		<% end %>


		</tbody>

	</table>


		


	</div>

	
	
</div>
</div>

</div>

</div>













