<% @page_title="School Details" %>



<div class="form-card"> <!-- margin top 5% -->
<div class="row">

<%= render(:partial=>'layouts/admin_navigation') %>

<div class="col s12 m9 l9">
<!-- Teal page content  -->
<div class="card">
	<div class="card-content">

	<h5>School Details </h5>
		
			
			<p><img class="responsive-img" style="height:200px;" src=<%= @manage_school.profilepicture %> ></p>

			
			<label>Name</label>
			<p><%= @manage_school.name %></p>

			<label>Email</label>
			<p><%= @manage_school.email %></p>

			<label>Phonenumber</label>
			<p><%= @manage_school.phonenumber %></p>

			<label>Website</label>
			<p><%= @manage_school.website %></p>

			<label>Address</label>
			<p><%= @manage_school.address %></p>

			<label>City</label>
			<p><%= @manage_school.city %></p>

			<label>State</label>
			<p><%= @manage_school.state %></p>

			<label>Postcode</label>
			<p><%= @manage_school.postcode %></p>

			<label>Description</label>
			<p><%= @manage_school.description %></p>

			<label>Transportation</label>
			<p><%= @manage_school.transportation %></p>

			<label>Status</label>

			<% if @manage_school.status==1%>

			<p><%= "Active" %></p>

			<% else %>

			<p><%= "Deactive" %></p>
				
			<% end %>


			


		


	

	<div class="center">

		
		
		<%= link_to("Edit", edit_manage_school_path(@manage_school.id),:class=>"waves-effect waves-light btn teal lighten-2") %>
		
	</div>


	</div>
	
</div>
</div>

</div>

</div>










