<% @page_title="Teacher Details" %>



<div class="form-card"> <!-- margin top 5% -->
<div class="row">

<%= render(:partial=>'layouts/school_navigation') %>

<div class="col s12 m9 l9">
<!-- Teal page content  -->
<div class="card">
	<div class="card-content">

	<h5>Teacher Details </h5>


			

			<img class="responsive-img" style="height:200px;" src=<%= @teacher.profilepicture %> >
		
			
			<p>Course Name: <%= @teacher.name %></p>

			<p>Language: <%= @teacher.languagetype %></p>

			<p>Details: <%= @teacher.details %></p>

			

			<p>Resume: <%= link_to 'Download',@teacher.resumes_url %></p>

			

			
			


		


	</div>

	<div class="card-action">

		<%= link_to("Delete", delete_teacher_path(@teacher.id),:class=>"waves-effect waves-light btn red darken-4") %>
		
		<%= link_to("Edit", edit_teacher_path(@teacher.id),:class=>"waves-effect waves-light btn grey darken-4") %>
		
	</div>
	
</div>
</div>

</div>

</div>










