<% @page_title="Feedback Details" %>



<div class="form-card"> <!-- margin top 5% -->
<div class="row">

<%= render(:partial=>'layouts/admin_navigation') %>

<div class="col s12 m9 l9">
<!-- Teal page content  -->
<div class="card">
	<div class="card-content">

	<h5>Feedback Details </h5>

	<label>Name</label>
	<p><%= @feedback.name %></p>

	<label>Email</label>
	<p><%= @feedback.email %></p>

	<label>Phonenumber</label>
	<p><%= @feedback.phonenumber %></p>

	<label>Title</label>
	<p><%= @feedback.title %></p>

	<label>Details</label>
	<p><%= @feedback.details %></p>


			
		
			
			
			
			
			
			

			

			
			

			
			


		


	

	<div class="center">

		<%= link_to("Reply") %>

		
	</div>

	</div>
	
</div>
</div>

</div>

</div>










