<% @page_title="Feedback Details" %>



<div class="form-card"> <!-- margin top 5% -->
<div class="row">

<%= render(:partial=>'layouts/admin_navigation') %>

<div class="col s12 m9 l9">
<!-- Teal page content  -->
<div class="card">
	<div class="card-content">

	<h5>Feedback Details </h5>

	<label>Name</label>
	<p><%= @feedback.name %></p>

	<label>Email</label>
	<p><%= @feedback.email %></p>

	<label>Phonenumber</label>
	<p><%= @feedback.phonenumber %></p>

	<label>Title</label>
	<p><%= @feedback.title %></p>

	<label>Details</label>
	<p><%= @feedback.details %></p>

	<label>Status</label>
			<p><%= if @feedback.status==1
					"<span style='color:green'>".html_safe + "Reviewed" + "</span>".html_safe 
				else

					"<span style='color:red'>".html_safe + "Haven't Reviewed Yet" + "</span>".html_safe 
				end
			
			 %></p>


	<br>
			<br>

	

	<%= form_tag(feedbacks_reply_path(:id=>@feedback.id)) do %>
			  
			  
			  <p>
			  <label>Reply Feedback:</label>
			  <%= text_field_tag(:message) %>
			  </p>
			  

			  


			
		
			


	

	<div class="center">

		<%= submit_tag("Reply",:class=>"waves-effect waves-light btn teal lighten-2") %>
			<% end %>
		
	</div>

	</div>
	
</div>
</div>

</div>

</div>










