<% @page_title="Feedback Details" %>



<div class="form-card"> <!-- margin top 5% -->
<div class="row">

<%= render(:partial=>'layouts/admin_navigation') %>

<div class="col s12 m9 l9">
<!-- Teal page content  -->
<div class="card">
	<div class="card-content">

	<h5>Feedback Details </h5>


			
		
			
			<p>Name: <%= @feedback.name %></p>
			<p>Email: <%= @feedback.email %></p>
			<p>Phonenumber: <%= @feedback.phonenumber %></p>
			<p>Title: <%= @feedback.title %></p>
			<p>Details: <%= @feedback.details %></p>

			

			
			

			
			


		


	</div>

	<div class="card-action">

		<%= link_to("Reply") %>

		
	</div>
	
</div>
</div>

</div>

</div>










