<% @page_title="Course Details" %>



<div class="form-card"> <!-- margin top 5% -->
<div class="row">

<%= render(:partial=>'layouts/school_navigation') %>

<div class="col s12 m9 l9">
<!-- Teal page content  -->
<div class="card">
	<div class="card-content">

	<h5>Courses Details </h5>

	<label>Course Name: </label>
		
			
			<p><%= @course.name %></p>

			<label>Language: </label>

			<p><%= @course.languagetype %></p>

			<label>Details: </label>

			<p><%= @course.details %></p>

			<label>Price: </label>

			<p><%= @course.price %></p>

			<label>Attachments: </label>

			<% if @course.attachments.url == nil %>

			<p><%= "None" %></p>


			<% else %>

			<p><%= link_to 'Download',@course.attachments.url %></p>

			<% end %>

			<label>Time:</label>

			<p><%= @course.time %></p>

			
			


		


	</div>

	<div class="card-action">

		<%= link_to("Delete", delete_course_path(@course.id),:class=>"waves-effect waves-light btn red darken-4") %>
		
		<%= link_to("Edit", edit_course_path(@course.id),:class=>"waves-effect waves-light btn grey darken-4") %>
		
	</div>
	
</div>
</div>

</div>

</div>










