

<% @page_title="Delete Certificate" %>

<%= render(:partial=>'layouts/school_navigation') %>


<div class="col s12 m9 l9">
<!-- Teal page content  -->
<div class="card">
<div class="card-content">


	<%=form_for(@certificate, :method => 'delete') do |f| %>
	<h4>Delete <%=f.object.title %> </h4>

	<p>Are you sure you want to permanently delete this certificate?</p>

	
	

	<div class="center">

		
		<%= f.submit("Delete",:class=>"waves-effect waves-light btn red darken-4") %>
		<%=link_to("Back",certificates_path,:class=>'bwaves-effect waves-light btn grey darken-4')%>
	</div>




	<% end %>

		


	</div>

	
	
</div>
</div>

</div>

</div>


















	