<%= error_messages_for(f.object) %>

<div class="row">
<div class="input-field col s12 m6">
    <%=f.label("School's Name")%>
    <%=f.text_field(:name)%>
</div>
<div class="input-field col s12 m6">
    <%=f.label("School's Phonenumber")%>
    <%=f.text_field(:phonenumber)%>
</div>
</div>



<div class="row">
<div class="input-field col s12 m6">
    <%=f.label(:password)%>
    <%=f.password_field(:password)%>
</div>
<div class="input-field col s12 m6">
    <%=f.label(:password)%>
    <%=f.password_field(:password_confirmation)%>
</div>
</div>



<div class="row">
<div class="input-field col s12 m6">
    <%=f.label(:email)%>
    <%=f.text_field(:email)%>
</div>

<div class="input-field col s12 m6">
    <%=f.label("School's Website")%>
    <%=f.text_field(:website)%>
</div>
</div>



<div class="row">
<div class="input-field col s12">
    <%=f.label("School's Address")%>
    <%=f.text_area(:address,:area=>'40x10',:class=>"materialize-textarea")%>

</div>
</div>

<div class="row">
<div class="input-field col s12 m4">
    <%= f.select(:state,[
                        ["Johor"],
                        ["Kedah"],
                        ["Kelatan"],
                        ["Melaka"],
                        ["Sembilan"],
                        ["Pahang"],
                        ["Perak"],
                        ["Pelis"],
                        ["Kelatan Melaka"],
                        ["Sabah"],
                        ["Sarawak"],
                        ["Selangor"],
                        ["Terengganu"],
                        ["Kuala Lumpur"],
                        
                       ]) %>

    <%=f.label("State")%>

</div>

<div class="input-field col s12 m4">
    <%= f.select(:city,[
                        ["Johor"],
                        ["Kedah"],
                        ["Kelatan"],
                        ["Melaka"],
                        ["Sembilan"],
                        ["Pahang"],
                        ["Perak"],
                        ["Pelis"],
                        ["Kelatan Melaka"],
                        ["Sabah"],
                        ["Sarawak"],
                        ["Selangor"],
                        ["Terengganu"],
                        ["Kuala Lumpur"],
                        
                       ]) %>

    <%=f.label("City")%>

</div>

<div class="input-field col s12 m4">
    <%=f.label("Postcode")%>
    <%=f.text_field(:postcode)%>

</div>
</div>



<div class="row">
<div class="input-field col s12">
    <%=f.label("School's Description")%>
    <%=f.text_area(:description,:area=>'40x10',:class=>"materialize-textarea")%>
</div>
</div>



<div class="row">
<div class="input-field col s12">
    <%=f.label("Transportation Area")%>
    <%=f.text_area(:transportation,:area=>'40x10',:class=>"materialize-textarea")%>
</div>
</div>



<div class="row">
<div class="file-field input-field s12" >
<div class="waves-effect waves-light btn grey darken-4">
      <span>Upload School Picture</span>
      <%=f.file_field(:profilepicture)%>
</div>
<div class="file-path-wrapper">
      <input class="file-path validater" type="text" placeholder="Upload School's Picture" disabled>
</div>
</div>










