<%= error_messages_for(f.object) %>

<div class="row">
<div class="input-field col s12">
    <%=f.label("Promotion's Title")%>
    <%=f.text_field(:name)%>
</div>
</div>


<div class="row">
<div class="input-field col s12">
    <%=f.label("Details")%>
    <%=f.text_area(:details,:area=>'40x10',:class=>"materialize-textarea")%>
</div>
</div>


<div class="row">
<div class="input-field col s12">
    <%=f.label("Promotion's Period")%>
    <%=f.text_field(:period)%>
</div>
</div>





<div class="row">
<div class="file-field input-field s12" >
<div class="waves-effect waves-light btn grey darken-4">
      <span>Upload Attachment</span>
      <%=f.file_field(:attachments)%>
</div>
<div class="file-path-wrapper">
      <input class="file-path validater" type="text" placeholder="Upload Profile Picture" disabled>
</div>
</div>
</div>















