<% @page_title="Promotion Details" %>



<div class="form-card"> <!-- margin top 5% -->
<div class="row">

<%= render(:partial=>'layouts/school_navigation') %>

<div class="col s12 m9 l9">
<!-- Teal page content  -->
<div class="card">
	<div class="card-content">

	<h5>Promotion Details </h5>

	<label>Promotion Name: </label>


			
		
			
			<p><%= @promotion.name %></p>

			<label>Details: </label>

			<p><%= @promotion.details %></p>

			<label>Period: </label>

			<p><%= @promotion.start.strftime("%d %B %Y") %> to <%= @promotion.end.strftime("%d %B %Y") %> </p>

			
			<label>Attachment: </label>

			<% if @promotion.attachments.url == nil %>

			<p><%= "None" %> </p>

			<% else %>

			<p><%= link_to 'Download',@promotion.attachments.url %></p>
				
			<% end %>
			

			

			
			


		


	

	<div class="center">

		<%= link_to("Delete", delete_promotion_path(@promotion.id),:class=>"waves-effect waves-light btn red darken-4") %>
		
		<%= link_to("Edit", edit_promotion_path(@promotion.id),:class=>"waves-effect waves-light btn teal lighten-2") %>
		
	</div>

	</div>
	
</div>
</div>

</div>

</div>










