</div>

<% @page_title="School Details" %>


   <div class="parallax-container">

   <div class="container">
   <div class="center" >

   <br>
   <br>
   <br>
   <br>

   <img class="circle z-depth-4" style="height: 200px; " src=<%= @school_user.profilepicture %> >

      <h4 style="color:white;"><%= @school_user.name %> </h4>

      <% user_bookmark=Bookmark.where(:user_id=>session[:user_id], 
                                      :school_user_id=>session[:inquiry_id])%>

      <% if user_bookmark.count==0 %>

      <%=link_to "Bookmark".html_safe, bookmarks_path,:method=>:post,:class=>"waves-effect waves-light btn" %>


       

      <% else %> 

      <%=link_to "<i class='material-icons left'>done</i>Bookmarked".html_safe, bookmark_path(user_bookmark.ids),:method=>:delete,:class=>"waves-effect waves-light btn" %>

        
        
      <% end %>


      

   </div>

   


    <div class="parallax">

    

     <%=image_tag '5.jpg' %>

      
    

   


    </div>

    </div>
  </div>




<div class="container">



<div class="card">
<div class="card-content">

<label>Description: </label>
<p><%= @school_user.description %> </p>

<label>Email: </label>
<p><%=@school_user.email %></p>

<label>Phonenumber: </label>
<p><%=@school_user.phonenumber %></p>

<label>Website: </label>
<p><%=@school_user.website %></p>

<label>Address: </label>
<p><%=@school_user.address %></p>

<label>Transportation Area: </label>            
<p><%=@school_user.transportation %></p>

</div>


  





        
<div class="tabs">
<ul class="tabs tabs-fixed-width " >
        <li class="tab"><a href="#newsfeed">Newsfeed</a></li>
        <li class="tab"><a href="#picturesandvideos">Pictures</a></li>
        <li class="tab"><a href="#courses">Courses</a></li>
        <li class="tab"><a href="#teachers">Teachers</a></li>
        <li class="tab"><a href="#promotions">Promotions</a></li>
        <li class="tab"><a href="#certificates">Certificates</a></li>
        <li class="tab"><a href="#rating">Rating</a></li>
        <li class="tab"><a href="#location">Location</a></li>
</ul>
</div>

<div class="card-content">
  



    
      <div id="newsfeed">

      <% @newsfeeds.each do |newsfeeds| %>

      <ul class="collapsible" data-collapsible="accordion">
      <li>
      <div class="collapsible-header active"><i class="material-icons teal-text text-lighten-2" >label</i><%= newsfeeds.title %></div>

      <div class="collapsible-body">
      <label>News: </label>
     
      <p><%= newsfeeds.details.html_safe %></p>



      </div>
      </li>
    
      </ul>


    
      

    

    <% end %>


      </div>

     
      <div id="picturesandvideos">

       <div class="slider">
    <ul class="slides">

    <% @school_attachments.each do |school_attachments| %>

      <li>
        <img src=<%=school_attachments.directory %>> <!-- random image -->
        <div class="caption right-align">
          <p class="light grey-text text-lighten-3"><%=school_attachments.details %></p>
        </div>
      </li>

     <% end %> 
      
    </ul>
  </div>

      

      </div>

      <div id="courses">

      <% @courses.each do |courses| %>

      <ul class="collapsible" data-collapsible="accordion">
      <li>
      <div class="collapsible-header" ><i class="material-icons teal-text text-lighten-2">book</i><%= courses.name %></div>

      <div class="collapsible-body">

      <label>Language: </label>
      <p><%= courses.languagetype %></p>

      <label>Details: </label>
      <p><%= courses.details %></p>

      <label>Price: </label>
      <p><%= courses.price %></p>

      <label>Attachments: </label>
      <p><a href=<%= courses.attachments %>>View</a></p>
      

      <label>Time: </label>
      <% timetables=Timetable.where(:course_id=>courses.id).order(:day,:start) %>
      
      <table>
        <thead>
          <tr>
            <th>Day</th>
            <th>Time</th>
          </tr>  
          
        </thead>

        <tbody>
        <% timetables.each do |timetable| %>
        <tr>
          <td><%= Date::DAYNAMES[timetable.day] %></td>

          <td><%= timetable.start.strftime("%I:%M %p") + " to " + timetable.end.strftime("%I:%M %p") %></td>

           
  
        </tr>

        <% end %>
        </tbody>
      </table>


      <div class="center">

      <br>
      <br>

     

      <%=link_to("Register Now!",new_online_application_path(:course_name=>courses.name),:class=>"waves-effect waves-light btn") %>

      </div>

      </div>
      </li>
    
      </ul>


    
      

    

    <% end %>

      </div>

      <div id="teachers">

      <% @teachers.each do |teachers| %>



      <ul class="collapsible" data-collapsible="accordion">
      <li>
      <div class="collapsible-header active"><i class="material-icons teal-text text-lighten-2">book</i><%=teachers.name %></div>

      <div class="collapsible-body">

      <div class="center">
        <p><img class="circle responsive-img center"  style="height:200px" src=<%=teachers.profilepicture %>></p>
        
      </div>

       

     <label>Details: </label>
              <p><%=teachers.details %></p>

              <label>Language: </label>
              <p><%=teachers.languagetype %></p>

              <label>Resume: </label>

               <p><a href=<%=teachers.resumes %>>Download</a></p>


      </div>
      </li>
    
      </ul>



        <% end %>
             
             
            </div>

       



     

      <div id="promotions">


      <% @promotions.each do |promotions| %>

      <ul class="collapsible" data-collapsible="accordion">
      <li>
      <div class="collapsible-header active"><i class="material-icons teal-text text-lighten-2">grade</i><%= promotions.name %>
      </div>

      <div class="collapsible-body">

      <label>Details: </label>
      <p><%= promotions.details %></p>

      <label>Period: </label>
      <p><%= promotions.start.strftime("%d %B %Y") %> to <%= promotions.end.strftime("%d %B %Y") %></p>

      <label>Attachment: </label>
      <p><a href=<%= promotions.attachments %>>Download</a> </p>



      </div>
      </li>
    
      </ul>
       <% end %>
    

   

      </div>

      <div id="certificates">


      <% @certificates.each do |certificates| %>
      <ul class="collapsible" data-collapsible="accordion">
      <li>
      <div class="collapsible-header active"><i class="material-icons teal-text text-lighten-2">bookmark_border</i><%= certificates.title %></div>

      <div class="collapsible-body">
      <label>Details: </label>
      <p><%= certificates.details %></p>
      <label>Certificate: </label>
      <p><img src=<%= certificates.attachment %> class="responsive-img" style="height:300px;"></p>
     </div>

      </li>
    
      </ul>

    <% end %>

      </div>



       <div id="rating">

       <p><%=link_to("Leave Rating",new_rating_path(:school_id=>@school_user.id)) %></p>

    
        <% @ratings.each do |ratings| %>

        <ul class="collapsible" data-collapsible="accordion">
      <li>
      <div class="collapsible-header active"><i class="material-icons teal-text text-lighten-2">rate_review</i><%= ratings.title %></div>

      <div class="collapsible-body ">

       <div class="row">

       <div class="col s12 m4">

       <% user=User.find(ratings.user_id) %>

         <p><img class="circle responsive-img center"  style="height:200px" src=<%=user.profilepicture %>></p>

         <div class="center">

         <label>Username</label>
         <h5><%=user.username %></h5>

         <label>Course</label>
         <p><%= ratings.coursename %></p>
           

         </div>

         
         

       </div>


      <div class="col s12 m8">

      <label>Rating:</label>
         


      <div class="row">

      <div class="col s12 m4">

      <p>Courses</p>
      <input type="range" id="test5" min="1" max="5" value=<%=ratings.courses %> disabled />
     
        

      </div>

      <div class="col s12 m4">

       <p>Value</p>
      <input type="range" id="test5" min="1" max="5" value=<%=ratings.value %> disabled />

      </div>
     
     
     <div class="col s12 m4">
        <p>Facilities</p>
      <input type="range" id="test5" min="1" max="5" value=<%=ratings.facilities %> disabled />
        
     </div>

      
     

      </div>

       
      <div class="row">

      <div class="col s12 m4">

       <p>Service</p>
      <input type="range" id="test5" min="1" max="5" value=<%=ratings.service %> disabled />

      </div>
       
     <div class="col s12 m4">

      <p>Activities</p>
      <input type="range" id="test5" min="1" max="5" value=<%=ratings.activities %> disabled />
       
     </div>


     
     
      
      
      </div>
      


       

      <label>Comments: </label>
      <p><%= ratings.comments %></p>

      </div>   
            

       </div>


      
      

         

         

         

      </li>
    
      </ul>

    <% end %>
      </div>

     
     




      <div id="location">

      <label>Location:</label>

     <p><%= @school_user.location.html_safe %></p>

      </div>
   

    </div>




</div>

</div>


<div class="parallax-container">

   <div class="container">
   <div class="center" >

   <br>
   <br>
   <br>
   <br>
   <br>
   <br>

  
   
      <h4 style="color:white;">Any Question? Contect Us Now</h4>

     

      <%=link_to('<i class="material-icons left">comment</i> Inquiry'.html_safe,new_inquiry_path,:class=>"waves-effect waves-light btn-large") %>

      <% session[:inquiry_id]=@school_user.id %>


     

   </div>

   


    <div class="parallax">

    

     <%=image_tag '5.jpg' %>

      
    

   


    </div>

    </div>
  </div>





