<% @page_title="School Details" %>

<div class="form-card">
<div class="card center-align white z-depth-4" >



	



     


      
      
        <div class="card-content">




       <img class="responsive-img circle" style="height: 200px; " src=<%= @school_user.profilepicture %> >
        <span class="card-title"><%=@school_user.name %></span>

         <p><%= @school_user.description %> </p>

          
       
         
        
         	
         		<p>Email: <%=@school_user.email %></p>
         		<p>Phonenumber: <%=@school_user.phonenumber %></p>
         		<p>Website: <%=@school_user.website %></p>
         

         
         		<p>Address: <%=@school_user.address %></p>
         		
         	

         	
         		<p>Transportation: <%=@school_user.transportation %></p>

         	
         		
         
        </div>
        
      



<div class="card-tabs">
      <ul class="tabs tabs-fixed-width">
        <li class="tab"><a href="#newsfeed">Newsfeed</a></li>
        <li class="tab"><a href="#picturesandvideos">Pictures and Videos</a></li>
        <li class="tab"><a href="#courses">Courses</a></li>
        <li class="tab"><a href="#teachers">Teachers</a></li>
        <li class="tab"><a href="#promotions">Promotions</a></li>
        <li class="tab"><a href="#certificates">Certificates</a></li>
        <li class="tab"><a href="#inquiry">Inquiry</a></li>
        
      </ul>
    </div>
    <div class="card-content">
      <div id="newsfeed"><h5>Newsfeed</h5>
      </div>

     
      <div id="picturesandvideos"><h5>Pictures and Videos</h5>

               <div class="carousel carousel-slider">
    <a class="carousel-item" href="#one!"><img src="https://lorempixel.com/800/400/food/1"></a>
    <a class="carousel-item" href="#two!"><img src="https://lorempixel.com/800/400/food/2"></a>
    <a class="carousel-item" href="#three!"><img src="https://lorempixel.com/800/400/food/3"></a>
    <a class="carousel-item" href="#four!"><img src="https://lorempixel.com/800/400/food/4"></a>
  </div>

      </div>

      <div id="courses"><h5>Courses</h5>

     <% @courses.each do |courses| %>
      <p><%= courses.name %></p>
      <p><%= courses.languagetype %></p>
      <p><%= courses.details %></p>
      <p><%= courses.price %></p>
      <p><%= courses.attachments %></p>
      <p><%= courses.time %></p>

      <p></p>

    <% end %>

      </div>

      <div id="teachers"><h5>Teachers</h5>

      </div>

      <div id="promotions"><h5>Promotions</h5>

      </div>

      <div id="certificates"><h5>Certificates</h5>

      </div>

      <div id="inquiry"><h5>Inquiry</h5>

      </div>
    </div>




</div><!-- card center-align white -->    
</div><!-- form-card -->





