<div class="form-card"> <!-- margin top 5% -->
<div class="row">
<div class="col s12 m3 l3"><!-- Grey navigation panel -->


<div class="card ">
<div class="card-image ">

		<%school_user=SchoolUser.find(session[:schools_id]) 
		  inquiry_count=Inquiry.where(:school_user_id=>session[:schools_id],:status=>0).count
		  online_application_count=OnlineApplication.where(:school_user_id=>session[:schools_id],:status=>0).count
		%>


		<%=image_tag(school_user.profilepicture.url())%>


		
		
		
</div>


<div class="card-content">
		<h5>School Control Panel</h5>
		<p>Logged in as: <%=session[:schools_name] %></p>

		

	

	<ul class="collection center">
		<li class="collection-item"><%=link_to("Edit Data",edit_school_user_path(session[:schools_id])) %></li>
		<li class="collection-item"><%=link_to("Manage School Attachments",school_attachments_path) %></li>
		<li class="collection-item"><%=link_to("Manage Newsfeeds",newsfeeds_path) %></li>
		<li class="collection-item"><%=link_to("Manage Certificate",certificates_path) %></li>
		<li class="collection-item"><%=link_to("Manage Courses",courses_path) %></li>
		<li class="collection-item"><%=link_to("Manage Teachers",teachers_path) %></li>
		<li class="collection-item"><%=link_to("Manage Promotions",promotions_path) %></li>
		
	</ul>

	<ul class="collection center">
		<li class="collection-item"><%=link_to("<span class='new badge'>#{online_application_count}</span>Manage Applications".html_safe,online_applications_path) %></li>
		<li class="collection-item"><%=link_to("<span class='new badge'>#{inquiry_count}</span>Manage Inquiry".html_safe,inquiries_path) %></li>
	</ul>

    	<div class="center-align">
    	<%=link_to("Logout",access_logout_path, :class=>"waves-effect waves-light btn red darken-4") %> 
    	</div> 
</div>

</div>

</div>
