<!DOCTYPE html>
<html>
  <head>
    <title>Project</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

     
  </head>

  <body>


  <!--Navigation Bar-->

  <nav class="white z-depth-4">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo black-text">
      
      <%= image_tag('icon2', :size=>'110x110',:alt=>'Language School Finder') %>

      

      </a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="#">Login</a></li>
        <li><a href="SchoolRegister.html">Register as School</a></li>
        <li><a href="#">Bookmark</a></li>
      </ul>
    </div>
  </nav>




    <%= yield %>



   
  </body>
</html>
