<!DOCTYPE html>
<html>
<head>
<title> Language School Finder <%="| #{@page_title}" if @page_title %></title>
<%= favicon_link_tag 'icon2.png' %>
<%= csrf_meta_tags %>
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

<!--Let browser know website is optimized for mobile-->
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>


<body>

<!-- Dropdown Structure -->
<ul id="userdropdown" class="dropdown-content">
  <li><%=link_to("Manage Account",users_menu_path) %></li>
  <li><%=link_to("View Bookmarks") %></li>
  <li><%=link_to("Logout",users_logout_path) %></li>
 
</ul>

<!-- Dropdown Structure -->
<ul id="schooldropdown" class="dropdown-content">
    <li><%=link_to("Manage Account",access_menu_path) %></li>
    <li><%=link_to("Manage Courses",courses_path) %></li>
    <li><%=link_to("Manage Teachers",teachers_path) %></li>
    <li><%=link_to("Manage Promotions",promotions_path) %></li>
    <li><%=link_to("Manage Applications") %></li>
    <li><%=link_to("Manage Inquiry") %></li>
    <li><%=link_to("Logout",access_logout_path) %></li>
</ul>

<!-- Dropdown Structure -->
<ul id="admindropdown" class="dropdown-content">
  <li><%=link_to("Manage Account",admins_menu_path) %></li>
  <li><%=link_to("Logout",admins_logout_path) %></li>
</ul>



<!--Navigation Bar-->
<nav class="white z-depth-4">
<div class="nav-wrapper">
      <a href="../" class="brand-logo black-text">
      <%= image_tag('icon2', :size=>'110x110',:alt=>'Language School Finder') %>
      </a>

   



<ul id="nav-mobile" class="right ">

<% if controller_name=="users" %>
        <% if session[:user_name]==nil %>
        <li><%=link_to("User Login",users_login_path) %></li>

        <% else %>

        <li><a class="dropdown-button" href="access/menu" data-activates="userdropdown"><%=session[:user_name] %><i class="material-icons right">arrow_drop_down</i></a></li>
        <% end %>
<% end %>




  

<% if controller_name=="school_users" || controller_name== "access" %>
        <% if session[:schools_name]==nil %>
        <li><%=link_to("School Login",access_login_path) %></li>
        <% else %>
        <li><a class="dropdown-button" href="access/menu" data-activates="schooldropdown"><%=session[:schools_name] %><i class="material-icons right">arrow_drop_down</i></a></li>
        <% end %>
<% end %>




<% if controller_name=="admins" %>
        <% if session[:admin_name]==nil %>
        <li><%=link_to("Admin Login",admins_login_path) %></li>
        <% else %>
        <li><a class="dropdown-button" href="access/menu" data-activates="admindropdown"><%=session[:admin_name] %><i class="material-icons right">arrow_drop_down</i></a></li>
        <% end %>
<% end %>






      

      

      
      
      
</ul>




</nav>

<main>
<div class="container">
      <%if !flash[:notice].blank? %>
      <%= javascript_tag "Materialize.toast('#{notice}', 4000)" %>
      <% end %>

<%= yield %>


</div>  
</main>


<footer class="page-footer grey darken-4 z-depth-4" >
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Language School Finder</h5>
                <p class="grey-text text-lighten-4">Find Your Perfect Language School</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                  <% if controller_name=="users" %>
        <% if session[:user_name]==nil %>
        <li><%=link_to("User Login",users_login_path) %></li>

        <% else %>

       <li><%=link_to("Manage Account",users_menu_path) %></li>
      <li><%=link_to("Logout",users_logout_path) %></li>
        <% end %>
<% end %>




  

<% if controller_name=="school_users" || controller_name== "access" %>
        <% if session[:schools_name]==nil %>
        <li><%=link_to("School Login",access_login_path) %></li>
        <% else %>
         <li><%=link_to("Manage Account",access_menu_path) %></li>
    <li><%=link_to("Manage Courses",courses_path) %></li>
    <li><%=link_to("Manage Teachers",teachers_path) %></li>
    <li><%=link_to("Manage Promotions",promotions_path) %></li>
    <li><%=link_to("Manage Applications") %></li>
    <li><%=link_to("Manage Inquiry") %></li>
    <li><%=link_to("Logout",access_logout_path) %></li>
        <% end %>
<% end %>




<% if controller_name=="admins" %>
        <% if session[:admin_name]==nil %>
        <li><%=link_to("Admin Login",admins_login_path) %></li>
        <% else %>
        <li><%=link_to("Manage Account",admins_menu_path) %></li>
        <li><%=link_to("Logout",admins_logout_path) %></li>
        <% end %>
<% end %>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2017 Language School Finder
          <%=link_to("Leave your feedback",new_feedback_path, :class=>"grey-text text-lighten-4 right") %>
            </div>
          </div>
</footer>



   
</body>
</html>

