<!DOCTYPE html>
<html>
<head>
<title> Language School Finder <%="| #{@page_title}" if @page_title %></title>
<%= favicon_link_tag 'icon.png' %>
<%= csrf_meta_tags %>
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

<!--Let browser know website is optimized for mobile-->
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>


  
  


</script>
</head>


<body>

<!-- Dropdown Structure -->
<ul id="userdropdown" class="side-nav">
  <li><a href="">
    <i class="material-icons teal-text text-lighten-2">account_circle</i>
    <%=session[:user_name] %>
    </a> 
    </li>


  <li><%=link_to('<i class="material-icons teal-text text-lighten-2">settings</i> Manage Account'.html_safe,users_menu_path) %></li>
  <li><%=link_to('<i class="material-icons teal-text text-lighten-2">bookmark_border</i> View Bookmarks'.html_safe,bookmarks_path) %></li>

  <li><%=link_to('<i class="material-icons teal-text text-lighten-2">exit_to_app</i> Logout'.html_safe,users_logout_path) %></li>
 
</ul>

<!-- Dropdown Structure -->
<ul id="schooldropdown" class="side-nav">



   

    
    <li><a href="">
    <i class="material-icons teal-text text-lighten-2">account_circle</i>
    <%=session[:schools_name] %>

    
    </a> 
    </li>

    <li><%=link_to("Manage Account",access_menu_path) %></li>
    <li><%=link_to("Manage School Attachments",school_attachments_path) %></li>
    <li><%=link_to("Manage Courses",courses_path) %></li>
    <li><%=link_to("Manage Teachers",teachers_path) %></li>
    <li><%=link_to("Manage Promotions",promotions_path) %></li>
    <li><%=link_to("Manage Applications",online_applications_path) %></li>
    <li><%=link_to("Manage Inquiry",inquiries_path) %></li>
    
    <li><%=link_to('<i class="material-icons teal-text text-lighten-2">exit_to_app</i> Logout'.html_safe,access_logout_path) %></li>


     
</ul>

<!-- Dropdown Structure -->
<ul id="admindropdown" class="side-nav">
    <li><%=link_to("Edit Data",admins_menu_path) %></li>
    <li><%=link_to("Manage Admins",admins_path) %></li>
    <li><%=link_to("Manage States",states_path) %></li>
    <li><%=link_to("Manage Areas",areas_path) %></li>
    <li><%=link_to("Manage Languages",languages_path) %></li>
    <li><%=link_to("Manage Schools",manage_schools_path) %></li>
    <li><%=link_to("Manage Users",manage_users_path) %></li>
    <li><%=link_to("Manage Feedback",feedbacks_path) %></li>
    <li><%=link_to("Logout",admins_logout_path) %></li>
</ul>



<!--Navigation Bar-->
<div class="navbar-fixed">
<nav class="white">
<div class="nav-wrapper">
<div class="container">
      <a href="../" class="brand-logo center"">
      <%=image_tag("icon.png",:size=>"110",:style=>"padding:10px;") %>
      </a>


      
      

    

   



<ul id="nav-mobile" class="right ">

<% if controller_name=="users" || controller_name=="public"  || controller_name== "inquiries"   || controller_name== "bookmarks" %>
        <% if session[:user_name]==nil %>
        <li><%=link_to("User Login",users_login_path) %></li>

        <% else %>

        <li><a href="#" data-activates="userdropdown" class="button-collapse show-on-large"><i class="material-icons teal-text text-lighten-2 ">menu</i></a></li>
        <% end %>
<% end %>




  

<% if controller_name=="school_users" || controller_name== "access" || controller_name== "courses" || controller_name== "promotions" || controller_name== "teachers" || controller_name== "school_attachments" || controller_name== "newsfeeds"  || controller_name== "online_applications"%>
        <% if session[:schools_name]==nil %>
        <li><%=link_to("School Login",access_login_path) %></li>
        <% else %>
        <li><a href="#" data-activates="schooldropdown" class="button-collapse show-on-large"><i class="material-icons teal-text text-lighten-2 ">menu</i></a></li>
        <% end %>
<% end %>




<% if controller_name=="admins" || controller_name=="areas" || controller_name=="states" || controller_name=="languages" || controller_name=="manage_schools" || controller_name=="manage_users"%>
        <% if session[:admin_name]==nil %>
        <li><%=link_to("Admin Login",admins_login_path) %></li>
        <% else %>
        <li><a href="#" data-activates="admindropdown" class="button-collapse show-on-large"><i class="material-icons teal-text text-lighten-2 ">menu</i></a></li>
        <% end %>
<% end %>






      

      

      
      
      
</ul>


</div>
</div>

</nav>
</div>

<main>




<div class="container">
      <%if !flash[:notice].blank? %>
      <%= javascript_tag "Materialize.toast('#{notice}', 4000)" %>
      <% end %>

<%= yield %>


</div>  
</main>


<footer class="page-footer teal darken-1  " >
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Language School Finder</h5>
                <p class="grey-text text-lighten-4">Find Your Perfect Language School</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>

                <li><%=link_to("School User",access_menu_path) %> </li>

                <li><%=link_to("Admin User",admins_path) %> </li>
                 
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2017 Language School Finder
          <%=link_to("Leave your feedback",new_feedback_path, :class=>"grey-text text-lighten-4 right") %>
            </div>
          </div>
</footer>



   
</body>
</html>

